.create {
    font-family: "Montserrat", Roboto, Prime;
    font-size: 50px;
    letter-spacing: 10px;
    /* font-weight: lighter; */
    color: rgb(245, 245, 245);
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       text-align: center; 
       margin: 50px; 
}